<!DOCTYPE html>
<html>

<head>
    <title>
        BotList
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="container" onclick="window.open('https://discord.com/invite/vQR6ZZ63Ap');">
        <div class="card">
            <h1>Botalist</h1>
            <p>Developers Zone</p>
        </div>
    </div>
</body>

</html>